---
---

<div style="all:initial;">
	<script
	src="https://nostri-chat-hosted.f9ofwt.click/public/bundle.js"
	data-chat-type="GLOBAL"
	data-chat-tags="bitcoin"
	data-relays="wss://relay.f7z.io,wss://nos.lol,wss://relay.nostr.band"
	></script>
	<link rel="stylesheet" href="https://nostri-chat-hosted.f9ofwt.click/public/bundle.css">
</div>